/* Basic styling for the web site */
#render-target {
	font-size: 16px;
	color: #424848;
	font-family: 'Raleway', sans-serif;

	background: linear-gradient(to top right, rgba(12,183,225,1), rgba(22,202,202,1), rgba(29,219,182,1));

	padding-bottom: 50px;
	padding-top: 20px;
}

#home-city {
	text-align: center;
	padding: 40px;
	padding-top: 5px;
}

#render-target h1{
	text-align: center;
	color: #fcfefd;
	font-family: 'Bitter', serif;
	font-size: 4em;
	padding-bottom: 0.5em;
}

#render-target hr {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 60%;
}

#render-target h2{
	font-weight: bold;
	padding: 10px;
}

#title {
	width: 100%;
	height: 30px;
	border: none;
}

.com-text {
	width: 100%;
	height: 150px;
	border: none;
}
/*Login button style*/

a#login-name-link.login-link-text, a#login-sign-in-link.login-link-text{
	background-color: #FFB335;
	color: #424848;
	padding: 15px ;
	text-align: center; 
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	right: 0;
} 

div#login-dropdown-list.accounts-dialog{
	
	right: 0;
	background-color: #FFB335;
	border: 0;
	border-radius: 0;
}

div#login-buttons-dropdown-align-{
	right: 0;
	position: absolute;
}

a.login-close-text{
	right: 0;
	text-decoration: none;
	position: absolute;
}

div#login-buttons-do-change-password.login-button.login-button-form-submit, 
div#login-buttons-logout.login-button, 
div#login-buttons-open-change-password.login-button{
	background-color: #FB3453;
	border: 0;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
}

div#login-buttons-do-change-password.login-button.login-button-form-submit:hover, 
div#login-buttons-logout.login-button:hover, 
div#login-buttons-open-change-password.login-button:hover{
	background-color: #FC5D76;
	border: 0;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
}

#sign-in-place {
	float: right;
	padding-right: 30px;
	font-family: 'Raleway', sans-serif;
}

#login-buttons a, .accounts-dialog a {
	cursor: pointer;
	text-decoration: none;
}

#login-buttons input[type=text], 
.accounts-dialog input[type=text], 
#login-buttons input[type=email], 
.accounts-dialog input[type=email], 
#login-buttons input[type=password], 
.accounts-dialog input[type=password] {
	padding: 4px;
	border: 0px;
	border-radius: 0px;
	line-height: 1;
}

#login-buttons .login-button, .accounts-dialog .login-button {
	background-color: #FB3453;
	border: 0;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
}

#login-buttons:hover .login-button:hover, .accounts-dialog .login-button:hover {
	background-color: #FC5D76;
	border: 0;
	border-radius: 0;
	font-family: 'Raleway', sans-serif;
}

.accounts-dialog label, .accounts-dialog .title {
	font-size: 80%;
	margin-top: 7px;
	margin-bottom: -2px;
	font-family: 'Raleway', sans-serif;
}

#login-dropdown-list, #login-dropdown-list {
	position: absolute;
	top: -1px;
	left: -143px;
}

#login-buttons .login-close-text {
	float: right;
}

/* Header */ 

ul.header li {
	display: inline;
	list-style-type: none;
	margin: 0;
}
ul.header {

	padding: 0px;
	padding-left: 30px;
	margin: 0;
	margin-top: 10px;
}
ul.header li a {
	color: #424848;
	font-weight: bold;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
}
.active {
	background-color: #FFB335;
}


/* React autosuggest text field */ 

.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	
	height: 45px;
	width: 100%;
	padding: 10px 20px;
	font-weight: 300;
	font-size: 16px;
	border: 1px solid #9ee4e3;
	background-color: #fcfefd;
	border-radius: 25px;
	-webkit-appearance: none;
}

.react-autosuggest__input--focused {
	outline: none;
}

.react-autosuggest__input::-ms-clear {
	display: none;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	width: 100%;
	border: 1px solid #9ee4e3;
	background-color: #fcfefd;
	font-weight: 300;
	font-size: 16px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	z-index: 2;
	align-self: center;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
	background-color: #FFB335;
}

.react-autosuggest__section-container--first {
	border-top: 0;
}

/*Home styles*/

#chooser{
	padding: 20px; 
}

.box{
	background-color: rgba(30,74,74,0.2);
	margin: 30px;
	margin-bottom: 50px;
	padding: 10px 70px;

}

/* PostList styles */ 

#posts-title{
	margin-top: 0px;
	text-align: center;
}

/*Stuff styles*/
#stuff hr {

	margin-top: 1em;
	margin-bottom: 1em;
	width: 2%;
	padding-bottom: 40px;
}

#city-name{

	text-align: center;
	color: #fcfefd;
	font-family: 'Bitter', serif;
	margin-bottom: 20px;
}

.box2{
	background-color: rgba(255,179,53,0.5);
	margin: 0px;
	margin-bottom: 20px;
	padding: 35px 15px;

}


.box3{
	background-color: rgba(30,74,74,0.2);
	padding: 30px;
	margin-bottom: 20px;
}

/* Post style */

#Post hr {
	width: 100%;
	padding-bottom: 5px;
	opacity: 0.5;
}

#pTitle span{
	font-weight: bold;
	padding-bottom: 15px;
	font-size: 1.2em;
}


/*Button style */

.my-btn {

	justify-content: center;
	align-items: center;
	background-color: #FB3453;
	margin: 10px;
	height: 40px;
	width: 10%;
	min-width: 50px;
	border: none;
	font-weight: bold;
	font-size: 16px;
	color: #fcfefd;
	border-radius: 25px;

}

.my-btn:hover {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.1);
}

.my-btn-2 {

	justify-content: center;
	align-items: center;
	background-color: #FB3453;
	padding: 0 20px;
	height: 40px;
	width: 100%;
	border: none;
	font-weight: bold;
	font-size: 16px;
	color: #fcfefd;
	border-radius: 25px;

}

.my-btn-2:hover {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.1);
}

.my-btn-3 {

	justify-content: center;
	align-items: center;
	background-color: #FB3453;
	margin-top: 10px;
	padding: 0 20px;
	height: 40px;
	width: 100%;
	min-width: 92px;
	border: none;
	font-size: 12px;
	color: #fcfefd;
	border-radius: 25px;

}

.my-btn-3:hover {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.1);
}

.my-btn-4{

	justify-content: center;
	align-items: center;
	background-color: #FB3453;
	margin: 10px;
	padding: 5px 20px;
	height: 40px;
	width: 92px;
	border: none;
	font-weight: bold;
	font-size: 16px;
	color: #fcfefd;
	border-radius: 25px;

}

.my-btn-4:hover {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.1);
}


/*Comments styles*/

div.static-likes{
	
	background-color: rgba(30,74,74,0.5);
	margin: 10px 50px;
	padding: 8px 20px;
	border: none;
	font-weight: bold;
	font-size: 1.15em;
	color: #fcfefd;
	border-radius: 5px;
}

#PostAlone hr{
	width: 20%;
}

#Comment hr{
	width: 100%;
	padding-bottom: 5px;
	opacity: 0.5;
}

#pa{
	text-align: center;
}

.box4{
	background-color: rgba(30,74,74,0.1);
	margin: 30px 0px;
	padding: 10px;
}




/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 951px) and (max-width: 1199px) {
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 950px) {




}

/********** Extra small devices only **********/
@media (max-width: 767px) {

	/* Header */ 

	ul.header li {
		display: block;
		list-style-type: none;
		margin: 0;
	}
	ul.header {

		padding: 0px;
		padding-left: 30px;
		margin: 0;
		margin-top: 10px;
	}
	ul.header li a {
		display: block;
		color: #424848;
		font-weight: bold;
		text-decoration: none;
		padding: 15px;
		text-align: center;

	}
	.active {
		background-color: #FFB335;
	}

	/*Login button style*/

	a#login-name-link.login-link-text, a#login-sign-in-link.login-link-text{
		background-color: #FFB335;
		color: #424848;
		padding: 15px ;
		text-align: center; 
		text-decoration: none;
		display: inline-block;
		font-weight: bold;
	} 

	div#login-dropdown-list.accounts-dialog{

		background-color: #FFB335;
		border: 0;
		border-radius: 0;
	}

	div#login-buttons-dropdown-align-{
		position: absolute;
	}

	a.login-close-text{
		text-decoration: none;
		position: absolute;
	}

	

	#login-buttons .login-button, .accounts-dialog .login-button {
		background-color: #FB3453;
		border: 0;
		border-radius: 0;
		font-family: 'Raleway', sans-serif;
	}

	#login-buttons:hover .login-button:hover, .accounts-dialog .login-button:hover {
		background-color: #FC5D76;
		border: 0;
		border-radius: 0;
		font-family: 'Raleway', sans-serif;
	}

	.accounts-dialog label, .accounts-dialog .title {
		font-size: 80%;
		margin-top: 7px;
		margin-bottom: -2px;
		font-family: 'Raleway', sans-serif;
	}

	#login-dropdown-list, #login-dropdown-list {
		position: absolute;
		top: -1px;
		left: 10px;
	}

	#login-buttons .login-close-text {
		float: left;
	}

/* Home styles */

	.box{
		background-color: rgba(30,74,74,0.2);
		margin: 0px;
		margin-bottom: 50px;
		padding: 8px;
	}

	#home-city {
		text-align: center;
		padding: 10px;
		padding-top: 5px;
	}


}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {



}

